/* 表格 */
.fixed-table-container {
    border: none;
}
.table {
    font-size: 14px;
}
.table>thead>tr>th, .table>tbody>tr>td {
    border: none!important;
}
.table thead {
    background-color: #347DD4;
    color: #FFFFFF;;
}
.table tbody tr:nth-of-type(even) {
    background-color: #C4DCF8;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #347DD4;
    border-color: #347DD4;
}
.table-responsive {
    border: none!important;
}

/* 鼠标形状 */
.cursor-pointer {
    cursor: pointer;
}